<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name ="url"value="https://classic.freecrm.com/index.html"></parameter>
	   <parameter name ="username"value="speedway2016"></parameter>
	    <parameter name ="password"value="Speedway@2016"></parameter>
    <classes>
      
      <class name="program.logintest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
